# Recurring Themes
* Programming "Pythonically"
 * What does this mean?
* Using AI to be more efficient
 * We're going to leverage AI to
   * write code for us (but this only makes sense if we understand it writes
   * ...explain code we don't understand (but again, we need to have a solid foundation or we won't understand the explanation)
   * critique our code
* How to get help
* Testing and debugging
* Best practices

# What is Python?
* a scripting language
* a programming language
* a command interpreter
* a dynamically typed language
* an object-oriented language

In [ ]:
print('Hello, World!!!!')

Hello, World!!!!

## How to get around in Jupyter:
* Each place for you to enter text is called a _cell_
* Usually you enter __`Python`__ code, but you can also enter text in a _markup_ language called __`Markdown`__ (that's what's going on in _this_ cell)
* To "run" the code in the cell, hit __Shift-Return__ (i.e., hold down __Shift__ key, then hit __Return__)
* Try it with the cell below...

In [15]:
count = 12
count

12

* we'll work inside the Jupyter notebook and you'll be able to take it with you as a living, breathing document of your work in this class
* the __Insert__ menu will allow you to add a cell above or below the current cell
* the __Kernel__ menu will allow you to "talk" to the Python interpreter on your machine
  * (when you type into a cell, you are "talking" to the web browser, and the web browser sends the text to the __`Python`__ interpreter to be "run")
  * the __Kernel__ menu will allow you to _restart_ your __`Python`__ interpreter in case something goes wrong and it stops responding to you

## Who/What
* created by Guido van Rossum
* "pythonic"

## Variables/Types
* what are variables?
  * what makes a good/bad variable name?
* no declarations–Python is dynamically typed
* basic data types are __int, float, string, boolean__
* everything is an object (this is a difficult concept we will understand over time)

In [ ]:
first = 3 # "assignment statement"
second = 24.99
third = 0
print(first, second, third)

3 24.99 0

In [ ]:
second # asking Python to evaluate the value, i.e., tell us the value

24.99

In [ ]:
first # tell us the value

3

## ...but strongly typed!

In [ ]:
prince = 'Prince'

In [ ]:
prince + 1999

TypeError: can only concatenate str (not "int") to str

In [ ]:
prince + str(1999) # 'Prince' + '1999'

'Prince1999'

In [1]:
# Basic datatypes in Python
count = 12
price = 14.95
is_done = True
name = 'Guido'
print(count, price, is_done, name)

12 14.95 True Guido

In [2]:
name

'Guido'

In [3]:
is_done

True

# Some [Builtin Python Functions](https://docs.python.org/3/library/functions.html)

## __`str()`__
* "string-ifies" whatever is passed as an argument, i.e., returns a string verson
* important to understand that the str() function does not alter the object that was passed to it
* any object can be string-ified–that is, you can pass any object to the __`str()`__ function and it will work

In [ ]:
str(1999)

'1999'

In [4]:
str(1.33)

'1.33'

In [5]:
str(1.33e14) # 1.33e14 is "scienfic notation" ... 1.33 x 10^14

'133000000000000.0'

In [6]:
str('a string')

'a string'

## __`int()`__
* __int__-ifies whatever is passed as an argument, i.e., returns an int verson
* will not always work, cf. __`str()`__

In [ ]:
value = '503'
int(value)

503

In [7]:
value = '503a'
int(value) # will this work?

ValueError: invalid literal for int() with base 10: '503a'

## __`type()`__
* returns the type of the object you pass to it

In [16]:
value = 1
value, type(value) # ok to ask for Python to evaluate *mutiple* values in a single response

(1, int)

In [ ]:
value = value + 0.33 # val += 0.33
value, type(value)

(1.33, float)

In [8]:
type(is_done)

bool

## __`print()`__

In [33]:
name = 'Bruce Lee'
print(name)

Bruce Lee

In [35]:
first_name, middle_name, last_name = 'Taylor', 'Alison', 'Swift'
print(first_name, middle_name, last_name)

Taylor Alison Swift

In [36]:
print(first_name, middle_name, last_name, sep='...') # sep is called a "keyword argument"

Taylor...Alison...Swift

In [39]:
print(last_name, first_name, sep=', ', end=' ')
# ... intervening code ...
print(middle_name)

Swift, Taylor Alison

## Exercise: _str/int/type_
* copy/paste each of the following expressions into a cell
 * before running the cell, think about what you expect the result to be
 * if result is not what you expect, that's an opportunity for learning
<pre><b>str(53.3)
str(False)
str(false)
int('300')
int('30x')
type(False)
type('False')
type(3.5)
</b></pre>

# Python Arithmetic
* the Python interpreter can perform arithmetic

In [ ]:
8 / 3

2.6666666666666665

In [ ]:
8 // 3 # "int" division

2

# div/mod/divmod

In [ ]:
9 // 4 # "quotient"

2

In [24]:
23 % 4 # remainder (modulus) when dividing 19 by 4

3

In [25]:
divmod(23, 4) # Python functions can and often do return multiple values

(5, 3)

In [26]:
quotient, remainder = divmod(23, 4) # how many things does divmod() return?
print(quotient)
print(remainder)

5
3

In [ ]:
number = 1
float(number)

1.0

In [9]:
float('-1.23')

-1.23

In [ ]:
float('-1.23x') # will this work?

# Strings

## Strings
* "strings" are nothing more than some text surrounded by quotes
* you may use single or double quotes
* you rarely need it, but `\` lets you escape the next character, i.e., avoid its usual meaning
* string operators: __`+, *`__

In [ ]:
string1 = "This string isn't a problem"
string1

"This string isn't a problem"

In [ ]:
string2 = 'This string is a "good" example'
string2

'This string is a "good" example'

In [ ]:
string3 = 'This string isn\'t "more difficult" to read'
print(string3)

* __`+`__ = concatenation operator
* __`*`__ = duplication operator

In [ ]:
s, t = "hello", 'bye' # bad practice in THREE ways
print(s + t)

hellobye

In [ ]:
print(s, t)

hello bye

In [ ]:
s * 4

'hellohellohellohello'

In [ ]:
print('0123456789' * 8)
print('-' * 80)

01234567890123456789012345678901234567890123456789012345678901234567890123456789
--------------------------------------------------------------------------------

## Multi-Line Strings
* triple quotes allow for easy multi-line strings (i.e., strings that span multiple lines

In [ ]:
s = """
isn't this a
multi-line string
?
"""

print(s)

isn't this a
multi-line string
?

## Exercise: Strings
* after typing this in...

<pre><b>a, b, o, p = 'b', 'a', 'p', 'o'
</pre>

<pre><b>What will be the result of these expressions?

(Type them in and see, but first, think about what you expect the result to be)
o + p + o
a * 3 + b
a + p * 2 + 'k' * 2 + 'e' * 2 + o + 'er'

## __`len()`__
* returns the length of a string
  * (or more correctly returns the length/size of any "container")

In [ ]:
name = 'Prince'
len(name)

6

In [ ]:
len('')

0

In [ ]:
len(name * 5)

30

## Indexing Strings with __`[]`__
* access a single character via its offset
* easier to think of offset as opposed to index
* negative offsets count from end of string

In [11]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'
         #  01234567890123456789012345
         #                         321-

In [ ]:
alphabet[0] # "alphabet of 0"

'a'

In [ ]:
alphabet[23] # len(alphabet)-3

'x'

In [ ]:
alphabet[-1] # idiomatic

'x'

In [12]:
alphabet[-3]

'x'

# Let's run a small program in the notebook...and then run it outside of the notebook

In [13]:
name = input('Enter your name: ')
print('You entered', name)

Enter your name: Dave
You entered Dave

## Lab: putting our Python code in a file
* it's important to understand how to create Python code outside of a notebook
  * unfortunately Google Colaboratory doesn't allow us to do that easily at the free tier
  * if you've got Python and a code editor installed...?
  * or, let's try http://pythonanywhere.com using an editor, put the above two lines in the file __`name.py`__

## Indentation
* colons and indentation delineate blocks in Python
* no braces {...} like you will find in other languages
* this will trip you up at first but once you're used to it, you'll love it

In [40]:
number = 1

if number == 1: # is number equal to 1?
    print('Hey, number is 1!')
    print('This is part of the if block')

print('this is not part of the if block and is printed regardless')

Hey, number is 1!
This is part of the if block
this is not part of the if block and is printed regardless

## Indentation (continued)
*  indentation must be consistent throughout the block

In [ ]:
if number == 1:
    print('number is 1')
    print('something else')

*  you can use any indentation you want as long as it's 4 spaces (PEP-8
https://www.python.org/dev/peps/pep-0008/)

# __`if`__ statements
* enable us to ask a question
* no parens needed as they are in some other languages
* __`elif`__ = else if

In [ ]:
my_number = 37
guess = int(input('Enter your guess: '))

if guess > my_number:
    print('Guess was too high')
elif guess < my_number:
    print('Guess was too low')
else:
    print('You got it!')

Enter your guess:  37

You got it!

# Comparison Operators

| operator | meaning |
|---|---|
| == | equality  |
| != | inequality|
| < | less than |
| <= | less than or equals |
| > | greater than |
| >= | greater than or equals |
| in | membership

In [ ]:
x = 7

In [ ]:
5 < x

True

In [ ]:
x < 9

True

In [ ]:
5 < x and x < 9 # many programming languages use &&

True

In [ ]:
(5 < x) and (x < 9)

True

In [ ]:
5 < x < 9 # only language I know of that does this right

## Loops
* enable us to repeat an action
* two kinds of loops in Python
 * __`while`__ loops ("do something until a condition becomes false")
 * __`for`__ loops ("do something a certain number of times")

## __`while`__ loop example

In [45]:
import random # "batteries included"

my_number = random.randint(1, 100)
guess = 0

while guess != my_number: # loop until...?
    guess = int(input('Enter your guess (enter 0 to give up): '))
    if guess == 0:
        print("Sorry that you're giving up!")
        break # leave the loop immediatey (abnormal termination)
    elif guess > my_number:
        print("Guess was too high")
    elif guess < my_number:
        print("Guess was too low")
    else:
        print("You got it!")

Enter your guess (enter 0 to give up): 50
Guess was too low
Enter your guess (enter 0 to give up): 75
Guess was too low
Enter your guess (enter 0 to give up): 87
You got it!

## __`for`__ loop example
* typically used to iterate through an _container_ (string and others we haven't learned yet) one element at a time
* _"for thing in container"_

In [ ]:
for letter in 'Python': # for each element in the container
    print(letter)

P
y
t
h
o
n

## Sequences are also iterable

In [ ]:
for number in range(1, 10): # "for thing in container"
    print(number)

1
2
3
4
5
6
7
8
9

In [41]:
for number in range(1, 10, 2): # "for thing in container"
    print(number)

1
3
5
7
9

In [ ]:
for num in range(10, 0, -1):
    print(num)
print('blast off!')

10
8
6
4
2
blast off!

In [ ]:
for num in range(-5, 6): # -5 ... 5
    if num == 0:
        continue # "syntactic sugar"
    print(1 / num, end=' ')

-0.2 -0.25 -0.3333333333333333 -0.5 -1.0 1.0 0.5 0.3333333333333333 0.25 0.2

## Quick Lab: Loops/Strings
* have the user enter a string, then loop through the string to generate (or print) a new string in which every character is duplicated, e.g., "Python" => "PPyytthhoonn"

## Quick Lab: Loops/Numbers
* write Python code to generate a 6-digit access/security code, like you get when your try to log in to a website and it sends a code to your phone...e.g., 031728

## Lab: Fibonacci
* write code to print out the Fibonacci sequence up to a number of the user's choosing
* user will enter either number of Fibonacci numbers they want to see or the maximum Fibonacci number they want to see (either a for loop or while loop)
* first Fibonacci is 1, second Fibonacci is also 1, and every subsequent Fibonacci number is the sum of the previous two (1, 1, 2, 3, 5, 8, 13, 21, 34, ...)

## Lab: Prime Numbers
* write code to print out the numbers from 2 to 25 inclusive and indicate whether the number is prime and if it's not prime, write the number as a product of two factors, e.g.,
* a prime number is a number that has no divisors other than itself and 1
<pre>
2 is prime
3 is prime
4 equals 2 * 2
5 is prime
6 equals 2 * 3
7 is prime
8 equals 2 * 4
9 equals 3 * 3
10 equals 2 * 5
11 is prime
12 equals 2 * 6
13 is prime
14 equals 2 * 7
15 equals 3 * 5
16 equals 2 * 8
17 is prime
18 equals 2 * 9
19 is prime
20 equals 2 * 10
21 equals 3 * 7
22 equals 2 * 11
23 is prime
24 equals 2 * 12
25 equals 5 * 5
</pre>

## Loops: Recap
* __`for`__ loop is more common
* __`break`__ exits loop immediately
* __`continue`__ skips remainder of loop and starts next iteration

## Revisiting Strings

## Slices
* __`[start:stop:step]`__
* extracts the substring from __`start`__ to __`stop`__ _minus 1_, skipping __`step`__ characters at a time
* each of the st... are optional

In [ ]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'
         #  01234567890123456789012345
         #                         321-

In [ ]:
alphabet[10:15]

'klmno'

In [ ]:
alphabet[:5] # first 5 chars

'abcde'

In [ ]:
alphabet[23:]

'xyz'

In [ ]:
alphabet[3:23:3]

'dgjmpsv'

In [ ]:
alphabet[10:2:-1]

'kjihgfed'

In [ ]:
alphabet[-3:]

'xyz'

In [ ]:
alphabet[::-1] # idiomatic

'zyxwvutsrqponmlkjihgfedcba'

## More String Functions (Methods)
* "methods" are functions which are specific to a given datatype (e.g., string functions)
* methods are called using a new syntax

In [ ]:
poem = '''TWO roads diverged in a yellow wood,
And sorry I could not travel both
And be one traveler, long I stood
And looked down one as far as I could
To where it bent in the undergrowth;

Then took the other, as just as fair,
And having perhaps the better claim,
Because it was grassy and wanted wear;
Though as for that the passing there
Had worn them really about the same,

And both that morning equally lay
In leaves no step had trodden black.
Oh, I kept the first for another day!
Yet knowing how way leads on to way,
I doubted if I should ever come back.

I shall be telling this with a sigh
Somewhere ages and ages hence:
Two roads diverged in a wood, and I—
I took the one less traveled by,
And that has made all the difference.'''

In [ ]:
len(poem) # built-in function

729

In [ ]:
poem[:17]

'TWO roads diverge'

In [ ]:
poem.startswith('TWO') # startswith is a function...a "method"
# NOT startswith(poem, 'TWO')

True

In [ ]:
poem.endswith('And miles to go before I sleep.')

False

In [ ]:
poem.find('the')

163

In [ ]:
poem[163:178] # how long is this slice?

'the undergrowth'

In [ ]:
poem.rfind('the')

714

In [ ]:
poem.count('the')

12

## __`strip()`__

In [ ]:
s = '\t\t\t \n\n Now is the time  \t\t\t \n  '
s.strip() # generates a new string in which leading/trailing...

'Now is the time'

In [ ]:
s

'\t\t\t \n\n Now is the time  \t\t\t \n  '

In [ ]:
s = s.strip()

In [ ]:
s

'Now is the time'

In [ ]:
s = '.' + s + '...'
s

'.Now is the time...'

In [ ]:
s.strip('.')

'Now is the time'

## Even More String Functions (Methods)...

In [ ]:
s = 'now IS the time'
s.capitalize()

'Now is the time'

In [ ]:
s.title()

'Now Is The Time'

In [ ]:
s.upper()

'NOW IS THE TIME'

In [ ]:
s.lower()

'now is the time'

In [ ]:
s.swapcase()

'NOW is THE TIME'

In [ ]:
s.replace('the', 'not the') # be careful of the naming

'now IS not the time'

In [ ]:
s.replace('t', 'T')

'now IS The Time'

In [58]:
# Ask the user for a sentence and an integer n
sentence = input("Enter a sentence: ")
n = int(input("Enter an integer (n): "))

# Initialize variables to store the result
result = ""
upper = True  # Flag to toggle between uppercase and lowercase

# Iterate through the sentence in chunks of n characters
for i in range(0, len(sentence), n):
    chunk = sentence[i:i+n]

    if upper:
        result += chunk.upper()  # Convert chunk to uppercase
    else:
        result += chunk.lower()  # Convert chunk to lowercase

    upper = not upper  # Toggle the case for the next chunk

# Print the result
print("Formatted sentence:", result)

Enter a sentence: Now is the time
Enter an integer (n): 3
Formatted sentence: NOW is THe tIME

## Quick Lab: String Functions
* write a Python program to read in a sentences and tell the user how many vowels are in that sentence
* so if the user entered "Apples are my favorite fruit", your program would respond with 10 (or 11 if you count 'y' as a vowel)

## Lab: String Functions
* write a Python program to read in a string/sentence and then read in a number __`n`__ (give it a better name, but we'll use __`n`__ for this explanation)
* your program will print out the sentence such that the first __`n`__ characters (including any spaces) are upper case, then the next __`n`__ characters (including any spaces) are lower case, and so on
  * so if the user entered __`Now is the time`__ followed by __`4`__, your program would output __`NOW is tHE Time`__
  * notice that spaces are characters, so in the above example, __`Now `__ are the first 4 characters and they are printed as upper case (the space will of course not be printed any differently, it will just be a space)

## __`split()/join()`__
* important string methods which are inverses of one another
* __`.split()`__ splits a string into a __`list`__, a new datatype
* __`.join()`__ takes a list of words and joins them back together into a string

In [ ]:
'Now is the time'.split() # this is a string method

['Now', 'is', 'the', 'time']

In [ ]:
'eggs, bread, milk, yogurt'.split(', ')

['eggs', 'bread', 'milk', 'yogurt']

* Now we want to demonstrate that we can put back together a "splitted" string
  * it would be nice if we could write __`['eggs', 'bread', 'milk', 'yogurt'].join(', ')`__
  * but we can't because __`.join()`__ is actually a string method...WHY?

In [ ]:
''.join(['anti', 'dis', 'establish', 'men', 'tarian', 'ism'])

'antidisestablishmentarianism'

In [ ]:
', '.join(['Anne', 'Robert', 'Nancy'])

'Anne, Robert, Nancy'

## Lists
* usually homogeneous, but may contain any objects
* unbounded / not a fixed size
* duplicates allowed
* __`list()`__ function creates a list from another sequence or container

In [ ]:
mylist = [1, 3, 5, 7, 5, 3, 1]
mylist

[1, 3, 5, 7, 5, 3, 1]

In [ ]:
days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
days

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [ ]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [ ]:
stuff = input('Enter something: ')
stuff.split()

Enter something:  apple fig pear lemon

['apple', 'fig', 'pear', 'lemon']

In [79]:
cars = ['Tesla', 'Rivian', 'Lucid', 'Polestar', 'Aptera']

In [61]:
cars[0]

'Tesla'

In [70]:
cars[-1] # always the last element of the list

'Aptera'

In [71]:
vehicles = [cars, 'bus']
vehicles

[['Tesla', 'Rivian', 'Lucid', 'Polestar', 'Aptera'], 'bus']

In [72]:
vehicles[0]

['Tesla', 'Rivian', 'Lucid', 'Polestar', 'Aptera']

In [65]:
vehicles[0][-1]

'Aptera'

In [80]:
cars[-1] = 'Aptera Motors'
cars

['Tesla', 'Rivian', 'Lucid', 'Polestar', 'Aptera Motors']

In [74]:
cars[:2] # first 2 items in a container

['Tesla', 'Rivian']

In [75]:
cars[::2] # the "evens", every other item

['Tesla', 'Lucid', 'Aptera Motors']

In [76]:
cars[1::2] # the "odds", every other item

['Rivian', 'Polestar']

In [77]:
cars[::-1] # also idiomatic

['Aptera Motors', 'Polestar', 'Lucid', 'Rivian', 'Tesla']

## Looping Through a List

In [ ]:
index = 0
while index < len(cars):
    print(cars[index])
    index += 1 # index = index + 1

Tesla
Fisker
Rivian
Lordstown Motors

In [ ]:
for index in range(len(cars)):
    print(cars[index])

Tesla
Fisker
Rivian
Lordstown Motors

* that works, but it's not the way we'd write it in Python...it's not _Pythonic_

In [ ]:
for car in cars: # for "thing in container"
    print(car)

Tesla
Fisker
Rivian
Lordstown

## Adding to a List ("mutator" methods)
* __`append()`__: add an item the end of a list
* __`insert()`__: add an item to a particular place in the list
* __`extend()`__ (also __`+=`__): add a list to a list

In [81]:
cars.append('BYD')
cars

['Tesla', 'Rivian', 'Lucid', 'Polestar', 'Aptera Motors', 'BYD']

In [82]:
cars.insert(2, 'Faraday')
cars

['Tesla', 'Rivian', 'Faraday', 'Lucid', 'Polestar', 'Aptera Motors', 'BYD']

In [83]:
others = ['VinFast', 'Nikola']
cars += others # .extend()
cars

['Tesla',
 'Rivian',
 'Faraday',
 'Lucid',
 'Polestar',
 'Aptera Motors',
 'BYD',
 'VinFast',
 'Nikola']

In [84]:
cars.append(others)
cars

['Tesla',
 'Rivian',
 'Faraday',
 'Lucid',
 'Polestar',
 'Aptera Motors',
 'BYD',
 'VinFast',
 'Nikola',
 ['VinFast', 'Nikola']]

In [85]:
print(cars)

['Tesla', 'Rivian', 'Faraday', 'Lucid', 'Polestar', 'Aptera Motors', 'BYD', 'VinFast', 'Nikola', ['VinFast', 'Nikola']]

## Removing from a List
* __`del`__: delete by position
* __`remove(item)`__: remove by value
* __`pop()`__: remove last item (or specified item)

In [87]:
cars

['Tesla',
 'Rivian',
 'Faraday',
 'Lucid',
 'Polestar',
 'Aptera Motors',
 'BYD',
 'VinFast',
 'Nikola',
 ['VinFast', 'Nikola']]

In [88]:
del cars[-1]
cars

['Tesla',
 'Rivian',
 'Faraday',
 'Lucid',
 'Polestar',
 'Aptera Motors',
 'BYD',
 'VinFast',
 'Nikola']

In [89]:
cars.remove('Lucid')

In [90]:
cars

['Tesla',
 'Rivian',
 'Faraday',
 'Polestar',
 'Aptera Motors',
 'BYD',
 'VinFast',
 'Nikola']

In [91]:
cars.pop() # last item by default

'Nikola'

In [92]:
cars

['Tesla', 'Rivian', 'Faraday', 'Polestar', 'Aptera Motors', 'BYD', 'VinFast']

In [93]:
cars.pop(1) # pop() or remove the second item

'Rivian'

In [94]:
cars

['Tesla', 'Faraday', 'Polestar', 'Aptera Motors', 'BYD', 'VinFast']

## Examining Lists (inspectors)
* __`index(item)`__: return position of item
* __`count(item)`__: count occurrences of item
* __`in`__: test for membership

In [95]:
cars

['Tesla', 'Faraday', 'Polestar', 'Aptera Motors', 'BYD', 'VinFast']

In [96]:
cars.index('Polestar')

2

In [98]:
'Nikola' in cars

False

In [99]:
for _ in range(10): # do something 10 times
    cars.append('Nikola')

In [100]:
cars

['Tesla',
 'Faraday',
 'Polestar',
 'Aptera Motors',
 'BYD',
 'VinFast',
 'Nikola',
 'Nikola',
 'Nikola',
 'Nikola',
 'Nikola',
 'Nikola',
 'Nikola',
 'Nikola',
 'Nikola',
 'Nikola']

In [101]:
cars.count('Nikola')

10

In [102]:
while 'Nikola' in cars:
    cars.remove('Nikola') # each call only removes one
cars

['Tesla', 'Faraday', 'Polestar', 'Aptera Motors', 'BYD', 'VinFast']

In [103]:
for _ in range(cars.count('Nikola')): # do this 10 times
    cars.remove('Nikola')
cars

['Tesla', 'Faraday', 'Polestar', 'Aptera Motors', 'BYD', 'VinFast']

## __`join()/split()`__ ... redux

In [104]:
joined = ', '.join(cars)
joined # string which represents the "joined" items in the list

'Tesla, Faraday, Polestar, Aptera Motors, BYD, VinFast'

In [105]:
unjoined = joined.split(', ')
unjoined # split into a new list

['Tesla', 'Faraday', 'Polestar', 'Aptera Motors', 'BYD', 'VinFast']

In [ ]:
cars == unjoined # are they the same? (They should be...)

True

## Sorting Lists
* __`sorted()`__: _built-in function_ which returns a sorted list created
from an iterable/sequence
* __`sort()`__: _method_ to sort a list in place
* __`len()`__: _built-in function_ which returns length of a list

In [106]:
sorted(cars) # let's explain what this does

['Aptera Motors', 'BYD', 'Faraday', 'Polestar', 'Tesla', 'VinFast']

In [107]:
cars.sort() # vs. this
cars

['Aptera Motors', 'BYD', 'Faraday', 'Polestar', 'Tesla', 'VinFast']

In [108]:
cars.sort(reverse=True)
cars

['VinFast', 'Tesla', 'Polestar', 'Faraday', 'BYD', 'Aptera Motors']

In [ ]:
# Is this correct?
cars = sorted(cars) # cars.sort()
print(cars)

['Bollinger', 'Faraday', 'Lordstown', 'Rivian', 'Tesla']

In [ ]:
cars

['Bollinger', 'Faraday', 'Lordstown', 'Rivian', 'Tesla']

In [ ]:
# What about this?
cars = cars.sort() # cars.sort()
print(cars)

None

## Quick Lab: Lists
* Write a program that asks the user to input two lists and then finds and prints the common elements between them
<pre>
Enter a list of items: <b>apple cherry banana lemon</b>
Enter a second list of items: <b>apple guava banana lime</b>
Common elements: apple banana

## Group Lab: Lists
* Write a Python program to maintain a list
  * Read input until the user enters 'quit'
  * Words that the user enters should be added to the list
  * If a word begins with '-' (e.g., '-foo') it should be removed from the list
  * If the user enters only a '-', the list should be reversed
  * After each operation, print the list
  * Extras:
      * If user enters more than one word (e.g, __foo bar__), add "foo" and "bar" to the list, rather than "foo bar"
      * Same for "-", i.e., __-foo bar__ would remove "foo" and "bar" from the  list