# Demo - More! Pandas

In [ ]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [ ]:
# view raw values
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [ ]:
# view index
data.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
# we can index, just like a standard Python list
data[1]

0.5

In [ ]:
# Because index is a RangeIndex, we can do
# normal slicing from offset 1 to offset 2
#
data[1:3]

1    0.50
2    0.75
dtype: float64

In [ ]:
# create a series with non-integer indices
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])

In [ ]:
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [ ]:
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
# similar to dict indexing
data['c']

0.75

In [ ]:
# if you are particularly perverse...
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [ ]:
data[3]

0.75

# Implicit and Explicit Indexing

In [ ]:
data = pd.Series(['a', 'b', 'c'], index=['Python', 'C++', 'Ruby'])
data

Python    a
C++       b
Ruby      c
dtype: object

In [ ]:
# index is no longer a range
# indices are like keys in a dictionary
data.index

Index(['Python', 'C++', 'Ruby'], dtype='object')

In [ ]:
data[1] # index by numeric index, not offset!

'b'

In [ ]:
# but slicing still works as before
data[1:3] # offset 1...offset 2

Python    a
C++       b
dtype: object

# __`loc`__ and __`iloc`__
* .loc is a __*label*__-based indexing method
* .iloc is an __*integer*__-based indexing method

In [ ]:
data

Python    a
C++       b
Ruby      c
dtype: object

In [ ]:
data.loc['Python'] # 1 here is a label, not an offset

'a'

In [ ]:
data.loc['Python':'C++'] # 1 and 3 are labels, not integer offsets

Python    a
C++       b
dtype: object

In [ ]:
data.iloc[1] # 1 is an offset, not a label

'b'

In [ ]:
data.iloc[1:3] # 1..3 is a Python slice based on offsets

C++     b
Ruby    c
dtype: object

# Creating a DataFrame from dicts

In [ ]:
presidents = pd.DataFrame([
    { 'name': 'Barack Obama', 'elect': 2008, 'born': 1961 },
    { 'name': 'George W. Bush', 'elect': 2000, 'born': 1946 },
    { 'name': 'Bill Clinton', 'elect': 1992, 'born': 1946 },
    { 'name': 'George H.W. Bush', 'elect': 1988, 'born': 1924 },
])
presidents

               name  elect  born
0      Barack Obama   2008  1961
1    George W. Bush   2000  1946
2      Bill Clinton   1992  1946
3  George H.W. Bush   1988  1924

# Setting the Index of a DataFrame

In [ ]:
presidents.columns

Index(['name', 'elect', 'born'], dtype='object')

In [ ]:
presidents.set_index('name', inplace=True)

In [ ]:
presidents

                  elect  born
name
Barack Obama       2008  1961
George W. Bush     2000  1946
Bill Clinton       1992  1946
George H.W. Bush   1988  1924

In [ ]:
presidents['born'].idxmax() # who is the youngest president?

'Barack Obama'

In [ ]:
presidents['born']['Bill Clinton']

1946

In [ ]:
presidents.loc['Bill Clinton']

elect    1992
born     1946
Name: Bill Clinton, dtype: int64

In [ ]:
presidents.loc['Bill Clinton']['born']

1946

In [ ]:
# note that we are looking at presidents dataframe here
presidents['born']
# pd.DataFrame(presidents['born'])

name
Barack Obama        1961
George W. Bush      1946
Bill Clinton        1946
George H.W. Bush    1924
Name: born, dtype: int64

In [ ]:
presidents['born'][2]

1946

In [ ]:
presidents.iloc[2]

born     1946
elect    1992
Name: Bill Clinton, dtype: int64

In [ ]:
presidents.iloc[2]['born']

1946

In [ ]:
presidents['born']['Bill Clinton']

1946

In [ ]:
presidents.loc['Bill Clinton']['born']

1946

In [ ]:
presidents.loc['Bill Clinton']['elect']

1992

# Merging Two DataFrames

In [ ]:
presidents_dads = pd.DataFrame([
    { 'son': 'Barack Obama', 'father': 'Barack Obama, Sr.' },
    { 'son': 'George W. Bush', 'father': 'George H.W. Bush' },
    { 'son': 'George H.W. Bush', 'father': 'Prescott Bush' },
])

presidents_dads

                son             father
0      Barack Obama  Barack Obama, Sr.
1    George W. Bush   George H.W. Bush
2  George H.W. Bush      Prescott Bush

In [ ]:
presidents

                  elect  born
name
Barack Obama       2008  1961
George W. Bush     2000  1946
Bill Clinton       1992  1946
George H.W. Bush   1988  1924

In [ ]:
# in order to merge, we're going to need 'name' as a column,
# but right now it's the index, so let's add it as a column too
presidents['name1'] = presidents.index

In [ ]:
presidents

                  elect  born             name1
name
Barack Obama       2008  1961      Barack Obama
George W. Bush     2000  1946    George W. Bush
Bill Clinton       1992  1946      Bill Clinton
George H.W. Bush   1988  1924  George H.W. Bush

In [ ]:
pd.merge(presidents, presidents_dads,
         left_on='name', right_on='son')

   elect  born             name1               son             father
0   2008  1961      Barack Obama      Barack Obama  Barack Obama, Sr.
1   2000  1946    George W. Bush    George W. Bush   George H.W. Bush
2   1988  1924  George H.W. Bush  George H.W. Bush      Prescott Bush

In [ ]:
pd.merge(presidents, presidents_dads, left_on='name',
         right_on='son').drop('son', axis=1)

   elect  born             name1             father
0   2008  1961      Barack Obama  Barack Obama, Sr.
1   2000  1946    George W. Bush   George H.W. Bush
2   1988  1924  George H.W. Bush      Prescott Bush

In [ ]:
pd.merge(presidents, presidents_dads, left_on='name',
         right_on='son', how='left').drop('son', axis=1)

   elect  born             name1             father
0   2008  1961      Barack Obama  Barack Obama, Sr.
1   2000  1946    George W. Bush   George H.W. Bush
2   1992  1946      Bill Clinton                NaN
3   1988  1924  George H.W. Bush      Prescott Bush

In [ ]:
final = pd.merge(presidents, presidents_dads, left_on='name',
         right_on='son', how='left').drop('son', axis=1).fillna('MISSING')

In [ ]:
final

   elect  born             name1             father
0   2008  1961      Barack Obama  Barack Obama, Sr.
1   2000  1946    George W. Bush   George H.W. Bush
2   1992  1946      Bill Clinton            MISSING
3   1988  1924  George H.W. Bush      Prescott Bush

In [ ]:
final.set_index('name1', inplace=True)
final

                  elect  born             father
name1
Barack Obama       2008  1961  Barack Obama, Sr.
George W. Bush     2000  1946   George H.W. Bush
Bill Clinton       1992  1946            MISSING
George H.W. Bush   1988  1924      Prescott Bush

In [ ]:
final['name'] = final.index

In [ ]:
final

                  elect  born             father              name
name1
Barack Obama       2008  1961  Barack Obama, Sr.      Barack Obama
George W. Bush     2000  1946   George H.W. Bush    George W. Bush
Bill Clinton       1992  1946            MISSING      Bill Clinton
George H.W. Bush   1988  1924      Prescott Bush  George H.W. Bush

In [ ]:
final = final.reset_index()

In [ ]:
final

              name1  elect  born             father              name
0      Barack Obama   2008  1961  Barack Obama, Sr.      Barack Obama
1    George W. Bush   2000  1946   George H.W. Bush    George W. Bush
2      Bill Clinton   1992  1946            MISSING      Bill Clinton
3  George H.W. Bush   1988  1924      Prescott Bush  George H.W. Bush

In [ ]:
final.drop(['name1'], axis=1, inplace=True)

In [ ]:
final

   elect  born             father              name
0   2008  1961  Barack Obama, Sr.      Barack Obama
1   2000  1946   George H.W. Bush    George W. Bush
2   1992  1946            MISSING      Bill Clinton
3   1988  1924      Prescott Bush  George H.W. Bush

In [ ]:
final.set_index('name', inplace=True)
final

                  elect  born             father
name
Barack Obama       2008  1961  Barack Obama, Sr.
George W. Bush     2000  1946   George H.W. Bush
Bill Clinton       1992  1946            MISSING
George H.W. Bush   1988  1924      Prescott Bush