# How to Handle Missing Data

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
states = pd.Series(['alabama', 'california', np.nan, 'minnesota', 'virginia'])
states

In [ ]:
states.isnull()

In [ ]:
states.isnull().any()

In [ ]:
states.isnull().sum()

In [ ]:
states[2] = None
states

In [ ]:
states.isnull()

In [ ]:
states.dropna()

In [ ]:
states.notnull()

In [ ]:
states[states.notnull()]

In [ ]:
data = pd.DataFrame([
    ['alabama', np.nan, np.nan],
    ['california', 39536653, 1246],
    ['minnesota', 5576606, 169],
    [np.nan, np.nan, np.nan],
    ['virginia', 8470020, 222]
])
data

In [ ]:
data.dropna() # drop any row containing NaN

In [ ]:
data.dropna(how='all') # only drop rows having all NaNs

In [ ]:
data[3] = np.nan
data

In [ ]:
data.dropna(axis=1, how='all') # drop columns having all NaNs

In [ ]:
data.iloc[2, 2] = np.nan
data

In [ ]:
data.dropna(thresh=2) # drop rows having fewer than 2 non-NaN values

In [ ]:
data.fillna(0)

In [ ]:
data.fillna({1:1_000_000, 2:50, 3:56})

In [ ]:
data_numeric = data.select_dtypes(include=["number"])  # Select numeric columns
data_numeric
data[data_numeric.columns] = data_numeric.fillna(data_numeric.mean())
data

In [ ]:
data = pd.DataFrame([
    ['alabama', np.NAN, np.NAN],
    ['california', 39536653, 1246],
    ['virginia', 8470020, 222],
    ['california', 39536653, 1246],
    ['minnesota', 5576606, 169],
    [np.NAN, np.NAN, np.NAN],
    ['virginia', 8470020, 222]
])

In [ ]:
data.duplicated()

In [ ]:
data.drop_duplicates()

# Replacing Text

In [ ]:
dollars = pd.Series(['12', '-$10', '$10,000'])
dollars

In [ ]:
dollars.str.replace('$', '')

In [ ]:
dollars

In [ ]:
dollars = dollars.str.replace('$', '')
dollars

In [ ]:
!wget https://raw.githubusercontent.com/davewadestein/Gap-Python-2025/refs/heads/main/Data/states.csv

In [ ]:
data = pd.read_csv('states.csv')
data
# any guesses as to what count represents?

In [ ]:
bins = [0, 10, 100, 500, 1000, 2000]

In [ ]:
schools = pd.cut(data['Count'], bins)
schools

In [ ]:
pd.value_counts(schools)

In [ ]:
data.describe()

In [ ]:
pd.qcut(data['Count'], 4)

In [ ]:
cats = pd.qcut(data['Count'], 4)
pd.value_counts(cats)

In [ ]:
pop = data['Population']
pop[pop > 5_000_000]

In [ ]:
data.set_index('State', inplace=True)

In [ ]:
data

In [ ]:
pop = data['Population']
pop[pop > 5_000_000]